$poppins: "Poppins", sans-serif;
$black: #222222;
$gray: #5e5858;
$white: #fff;
$blue: #6c63ff;
$trans: transparent;
$w: wrap;
$fw6: 600;
$fx: flex;
$fs: flex-start;
$fc: center;
$around: space-around;
$between: space-between;
$evenly: space-evenly;

@media screen and (max-width: 1415px) {
    .never {
        .never-inner {
            .never-cards {
                margin: 75px 0;
                .never-cards-inner {
                    flex-wrap: wrap;
                    .never-cards-item {
                        margin: 10px 0;
                        right: 0;
                        &:nth-child(2n + 1) {
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container-right {
        width: 1650px;
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .container-left {
        width: 1650px;
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .nav {
        display: none;
    }

    .header {
        .header-inner {
            .nav-toggle {
                display: block;
            }
        }
    }
    .page {
        .page-inner {
            .process {
                .process-item {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .process-number {
                        position: absolute;
                        top: -34px;
                        left: 160px;
                    }
                }
            }
        }
    }

    .page-img {
        margin-top: 20px;
        flex: 1 0 61% !important;
        .split-img {
            justify-content: center;
        }
    }

    .suit {
        .suit-inner {
            justify-content: center !important;
            .suit-item {
                flex: 0 1 auto !important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .page {
        padding-top: 120px;
        .page-inner {
            .page-text {
                .page-box {
                    .page-box-item {
                        flex: 1 0 100%;
                    }
                }
                .page-title {
                    font-size: 36px;
                }

                .page-desc {
                    font-size: 45px;
                    line-height: 45px;
                }

                .play {
                    .play-icon-content {
                        width: 50px;
                        height: 50px;
                    }

                    .play-title {
                        font-size: 30px;
                    }
                }
            }
        }

        .page-img {
            margin-top: 30px;
        }
    }
    .footer {
        padding: 50px 0 50px 0;
        .footer-inner {
            .footer-item {
                flex: 1 0 100%;
            }
        }
    }
}
